<div class="p-5 bg-light text-white banneer"
  style="background-image: url(/images/layouts/_banneer.png);background-position: center;background-repeat: no-repeat;background-size: cover;">
  <div class="container-fluid">
    <p class="fs-2 fw-bolder text-center mb-0">
      <%= text %>
    </p>
  </div>
</div>

<style>
  .banneer{
      min-height: 40vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }
</style>