<div class="container">
    <div class="row min-vh-80">
        <div class="col-12 col-lg-6 d-flex flex-column align-items-center justify-content-center">
            <h1 class="col-12 col-lg-8 offset-lg-col-2 my-4 fs-2">Sign up</h1>
            <form action="" class="col-12 col-lg-8 offset-lg-col-2">
                <div class="mb-3">
                    <label class="form-label" for="">Username</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="">Email address</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="">Password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="">Password Confirmation</label>
                    <input type="password" class="form-control">
                </div>
                <button class="btn btn-md btn-success col-12">
                    Submit
                </button>
            </form>

            <a href="" class="col-12 col-lg-8 offset-lg-col-2 text-muted my-4">Already registered ? Sign in</a>
        </div>
        <div class="d-none d-lg-flex col-lg-6  d-flex align-items-center justify-content-center">
            <img src="/images/users/register/register.png" alt="" class="img-fluid">
        </div>
    </div>
</div>