<p class="fs-5">
    <span class="pe-3"><%= index+1 %>)</span> <%= question.content %>
</p>
<% question.answers.forEach((answer, answerIndex)=>{ %>
    <%- include('./_answer.ejs', {answer, question, questionIndex: index, answerIndex}) %>
<% }) %>
<hr>